/*=============================
            MATCHES BLOCK
===============================*/

.match_block .match_date{
    color:#ffffff;
    font-size:18px;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
    display: flex;
}
.match_block .match_wrapper .match_bottom {
    margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
    background: #ffffff; 
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
}

.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
    float:left
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
    width: 50px;
    height: 50px;
    background-size: cover !important;
}
.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
    font-size: 30px;
    padding: 6px 10px;
}


.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right { 
    background: rgb(138, 0, 0);
    width: 70px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-top: 6px;
} 

.match_box_big {
    width: 100%;
    border: 2px solid #dddddd;
    padding: 20px;
    box-sizing: border-box;
    height: 153px;    
    display: block;
    flex-grow: 1;
    justify-content: space-between;

}

.match_box_big .block_wraper {
    display: inline-block;
  
   
}

.match_box_big .block {
    display: flex;
}

.match_box_big .icon{
    width: 80px;
    height: 56px;
    background-size: cover !important;
    background-position: center;
}

.match_box_big .block .team,
.match_box_big .block .result {
    font-size: 21px;
    line-height: 51px;
    margin-left: 20px;
    font-weight: 300;
}

.match_box_big .block .result {
    font-weight: 500;
}

.block_wraper.nfo {
    border-left: 1px solid #dddddd; 
    height: 102px;
    padding: 15px 0 0 20px;
    font-weight: 300;
    color: #5e5e5e;
}

.block_wraper.nfo div {
    margin: 5px 0px;
}

.match_filters {
     margin-top: 7.5rem;
     display: flex;
     border-bottom: 1px solid #dddddd;
     background: #6b6b6b;
}
.match_filters .tag {
    font-weight: 300;
    margin-bottom: 5px;
    color: #656565;
}
.match_filters .option {
    background: #ffffff;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.match_filters .option.active {
    background: #d36262;
    color: #fff;
}

.match_filters_box {
    padding: 10px 20px;
    border-right: 1px solid #dddddd;
    background: #6b6b6b;
}

.match_filters .cont {
    display: flex;
  
}


/*=============================
            MATCHES BLOCK
===============================*/




/*=============================
            PLAYER CARD
===============================*/



.player_card_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    font-family: 'Righteous', cursive;
    margin-top: 3rem;

}
.player_card_wrapper .player_card_thmb {
    position: relative;
    width:80%;
    height:90vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.player_card_wrapper .player_card_nfo {
    text-align: end;
    width: 100%;
    padding-left: 10%;
  
    
}
.player_card_wrapper .player_card_number {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 120px;
    color: rgb(138, 0, 0);
    font-size: 400px;
    text-align: right;
    line-height: 160px;
}

.playerd_card_abilities {
    font-size: 20px;
    text-align: end;

    span {
        padding-left: 3rem;
    }
   
}
.player_card_statistics {
    padding-top: 3rem;
    font-size: 3rem;

    span {
        padding-left: 3rem;
    }
}
.player_card_about {
    float: right;
    width: 40%;
}


.player_card_wrapper .player_card_name  { 
    display: block;
    font-size: 100px;
    text-transform: uppercase;
    color: #050505;
}

.home_card_button {
    width: 80%;
    text-align: end;
    position: absolute;
    
}

