@media screen and (min-width: 375px) { 
  .navbar   { position: absolute; z-index: 999;  width: 100%;z-index: 1;display: flex;justify-content: space-between;align-items: center;height: 140px; background-color: transparent;
   
  
    .logo a    {color: white; padding-top: 33px; display: flex; flex-direction: column; clear: both; padding-bottom: 30px; text-decoration: none; width: 100%;
      
    
    }
    .gray      { color : white; }
    .fa-bars   { display: none; color: white; font-size: 3rem; z-index: 999; text-shadow: 6px 6px 6px  rgb(0, 0, 0); }
    nav        { 
      ul       { display: flex;  width: 70%;  justify-content: space-around;  }
      li       { margin: 0 15px;   list-style: none; padding: 0rem 1rem;  justify-content: space-between; font-size: 1em; color : white !important; text-shadow: 5px 2px 6px  rgb(0, 0, 0);   text-decoration: none; }
      a        { font-size: 1em;   text-decoration: underline !important;   }
   
      
    }
  
    @media only screen and (max-width: 800px) { padding: 0px;
     
      .logo     { width: 100%;  display: block; padding-left: 15px;   padding-top: 0px !important; }
       li       { color : white; }
    }
    @media only screen and (max-width: 800px) { position: absolute; top : 0; height: auto; min-height: 50px; display: block;
   
      .logo     { width: 100%;  display: block; margin: 0px;   margin-left: -5px;
        a       { padding: 20px 0px; }
      }
      .fa-bars  { display: inline-block; position: absolute; top: 30px; right: 20px; cursor: pointer; }
      ul.collapsed { position: absolute; top: 0; width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: wrap; padding : 0; background-color: black;
        top: 0px;
        margin: 0px;
        overflow: hidden; max-height: 0;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  
        &.is-expanded {
          
        a li { color  : white !important;}
          overflow: hidden;
          max-height: 550px; /* approximate max height */
          -moz-transition-duration: 0.4s;
          -webkit-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
          -moz-transition-timing-function: ease-in;
          -webkit-transition-timing-function: ease-in;
          -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
        }
        li {padding: 15px 10px;margin: 0px 0px;width: 100%;color : white;list-style: none; }
        a { color : white;   text-decoration: underline;  }
      }
    }
  }

  @media screen and (min-height: 812px) {
    &.is-expanded { max-height: 667px !important;}
  }

  @media screen and (min-height: 1024px) {
    &.is-expanded { max-height: 880px !important;}
    li {padding: 15px 10px !important; font-size: 4vw !important;}

  }

  

}


@media screen and (min-width: 414px) { 
    .navbar {   
      @media only screen and (max-width: 800px) {      
        ul.collapsed {
          &.is-expanded {  
            a li { color  : white !important;}
              max-height: 600px; /* approximate max height */     
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    @media screen and (min-height: 1366px) {
    .navbar   {  position: absolute;top : 0;width: 100%;z-index: 1;display: flex;justify-content: space-between;align-items: center;height: 140px;;
   
      nav        {
        color : white;
        li       {  margin: 0 15px; list-style : none;  justify-content: space-between; font-size: 3em !important;    }
        a        { font-size: 0.5em; color: white !important;    .active {color: tomato;}}
        a.active { color: rgb(255, 255, 255) !important; }
        
      }
    }
    }

  }


/*=============================
            HEADER FOOTER
===============================*/
.footer_bck {
  background-color: black;
}

footer {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 0px;
}

footer .img_cover{
   margin:0 auto;
}

footer .footer_discl {
    margin: 10px 0px;
}


